* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../IMAGENS/mitologia.fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  position: relative;
}




.logo img {
  max-width: 150px;
  max-height: 100px;
  padding-left: 2rem;
}


.historia {
  position: relative;
  margin-left: 600px;
}

.cultura {
  position: relative;
  margin-left: 200px;
}


.pontos-turisticos {
  position: relative;
  margin-left: 180px;
  color: black;
}


.menu{
  color: black;
  background-color: white;
  align-items: center;
  display: flex;
  height: 6rem;
  margin-left: 0;

}

.menu h2{
  color: black;
  height: 6rem;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

a{
  text-decoration: none;
}


h2{
  display: flex;
  align-items: center;
}







h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 90px;
  color: white;
  margin-bottom: 2rem;
  margin-top: 150px;
  margin-left: 20px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white;
  max-width: 80rem;
  line-height: 1.6;
  margin-left: 20px;
}

.h2{
  font-family: 'Merriweather', sans-serif;
  font-size: 40px;
  color: white;
  margin-bottom: 1rem;
  margin-top: 60px;
  margin-left: 20px;
}

.sla{
  margin-bottom: 70px;
}


.logo{
  margin-left: 50px;
}

.p2{
  margin-left: 120px;
}